.myChat {
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    padding: 0.3em;
}


.messageLog{
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    margin-bottom: 0.3em;
    height: 75%;
    width: 80%;
    padding: 0.3em;
    float: left;
    overflow: auto;
}

.users{
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    margin-bottom: 0.3em;
    height: 75%;
    width: 15%;
    padding: 0.3em;
    float: right;
    overflow: auto;
}

.inputText{
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    padding: 0.3em;
    width: 80%;
}

.sendButton{
    float: right;
}

.author{
    font-weight: bold;
}
